html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(160, 156, 156);
    color: white;
}

h1 {
    font-family: FreeMono, monospace;
    font-variant: small-caps;
    display: flex;
    justify-content: center;
}

.playerBody {
    box-sizing: border-box;
    display: flex;
    height: 250px;
}

.playerCard {
    display: flex;
    flex-direction: column;
    flex: 1 0 10em;
    padding: 1em;
    color: white;
    transition: flex-basis 500ms ease-in-out;
    overflow: hidden;
    border-style: none;
}
.las {
    font-size: 3em;
}

.cardName {
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.playerCard:hover {
    flex-basis: 20em;
}

.playerCard:hover .cardName {
    opacity: 1;
}

.playCard {
    flex-basis: 20em;
}

.changeOpacity {
    opacity: 20%;
}

.ending {
    visibility: hidden;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    font-size: 50px;
    text-align: center;
}
