.playerBody {
    box-sizing: border-box;
    display: flex;
    height: 250px;
}

.playerCard {
    display: flex;
    flex-direction: column;
    flex: 1 0 10em;
    box-shadow: 0 0 30px #424242;
    padding: 1em;
    color: white;
    transition: flex-basis 500ms ease-in-out;
    overflow: hidden;
}
.las {
    font-size: 3em;
}

.cardName {
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.playerCard:hover {
    flex-basis: 20em;
}

.playerCard:hover .cardName {
    opacity: 1;
}

.playCard {
    flex-basis: 20em;
}

.changeO {
    opacity: 60%;
}