html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(160, 156, 156);
    color: white;
}

/* Header Section */

h1 {
    font-family: FreeMono, monospace;
    font-variant: small-caps;
    display: flex;
    justify-content: center;
}

/* Main Section */

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    padding-top:0;
}

/* Output Section */
.text {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Card Section */
.playerBody {
    box-sizing: border-box;
    display: flex;
    height: 250px;
}

.playerCard {
    display: flex;
    flex-direction: column;
    flex: 1 0 10em;
    padding: 1em;
    color: white;
    transition: flex-basis 500ms ease-in-out;
    overflow: hidden;
    border-style: none;
    cursor: pointer;
}
.las {
    font-size: 3em;
}

.cardName {
    margin: 0;
    padding: 0;
    font-size: 50px;
}

/* Card Hidden Info Section */
.info {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 15px;
    margin: 10px 0;
    font-weight: 700;
    opacity: 0;
    transition: opacity 1s;
}

.detailSize {
    font-size: 22px;
}

.rockColor {
    color: rgb(146, 40, 40);
}

.paperColor {
    color: rgb(255, 209, 153);
}

.scissorsColor {
    color: rgb(229, 72, 82);
}

.lizardColor {
    color: rgb(146, 200, 168);
}

.spockColor {
    color: rgb(54, 68, 173);
}

/* Game End Section */
.ending {
    visibility: visible;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 1.5s;
}

.finalResult {
    padding: 0;
    margin: 0;
    font-size: 50px;
    color: green;
}

.restart {
    background-color: transparent;  
    border: 3px solid white;
    border-radius: 8px;
    padding: 20px 15px;
    font-size: 25px;
    color: white;
    margin-top: 10px;
}

/* Footer Section */
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 0;
    padding: 0;
}

/* Event/Add Section */
.playerCard:hover {
    flex-basis: 20em;
}

.playerCard:hover .info {
    opacity: 1;
}

.playCard {
    flex-basis: 20em;
}

.changeOpacity {
    opacity: 20%;
}

.cursorChange {
    cursor: auto;
}

.scoreColor {
    color: red;
}